 /*Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$lt: #E64A19;
$crfl: #8b9ff5;


* {
	margin: 0;
	padding: 0;
	outline: none;
}

html { height: 100%; }

body {
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
}

header {
	padding: 1%;
	max-width:100%;
	height: 1%;
	background-color: $lt;
	min_height: 50px;
	border-bottom: 2px solid silver;
}

header {
  margin-top: 10px;
}

.main {
  min-height: 94%;
  margin-bottom: -10px;
}

.main: after{
	content: "";
	display: inline-block;
}
.main: after { height: 10px; }

a {
  color: $crfl;
  transition: all.5s ease;
  text-decoration: none;
  -moz-text-decoration: none;
  -webkit-text-decoration: none;
  -ms-text-decoration: none;
  }