/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//variables//

$background-color: #E64A19;
$color: #8b9ff5;
$border-color: #4c4c4c;
$bachground-color-2: #CD853F; 

* {
	margin: 0;
	padding: 0;
	outline: none;
}

html { height: 100%; }

body {
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
}

header {
	padding: 1%;
 	max-width: 100%;
  	height: 1%;
  	background-color: $background-color;
  	min-height: 50px;
  	border-bottom: 2px solid silver;
	margin-top: 10px;
}

.main {
	min-height: 94%;
  	margin-bottom: -10px;
  	:after{
  		content: "";
  		display: inline-block;
  		height: 10px;
  	}

}

@mixin text-decoration($decor){
	text-decoration: $decor;
  	 -moz-text-decoration: $decor;
  	 -webkit-text-decoration: $decor;
  	 -ms-text-decoration: $decor;
}

@mixin transition($time){
  transition:         all $time ease;
  -webkit-transition: all $time ease;
  -moz-transition:    all $time ease;
  -o-transition:      all $time ease;
  
  }

a {
  color: $color;
  transition: all.5s ease;
  @include text-decoration(none);


  &:hover {
  	color: $color;
  	text-decoration: none;
  	@include transition(.5s);
  }

  &:active { color: $color;}
  
  }

%padding{
	padding-right: 20px;
	padding-top: 10px;
}

.right{
	@extend %padding;
	float: right;
}

.menu{
	@extend %padding;
	float: left;
}

.menu ul, .right ul {
 	list-style: none;
}

.menu > ul, .right > ul{
	display: flex;
  	justify-content: center;
}

nav ul ul ul {
  	position: absolute;
  	top:0;
  	left:100%;
}

.menu > ul li a, .right > ul li a {
 	display: flex;
 	background: $background-color;
 	padding: 8px;
  	padding-bottom: 5px;
  	font-size: 20px;
  	color: #FFFFFF;
  	text-decoration: none;
  	transition: all 0.3s ease;
}

.menu ul li {
  	position: relative;
  	border-right: 1px solid $border-color;
}

.menu > ul li{
	&:first-child { 
		border-left: 1px solid $border-color;
	}
	&:last-child { 
		border-right: 1px solid $border-color;
	}
}

.right ul li {
  	position: relative;
  	border-right: 1px solid $border-color;
}

.right > ul li{
	&:first-child {
 		border-left: 1px solid $border-color;
	}
	&:last-child {
		border-right: 1px solid $border-color;
 	}
}

%hover{
	background: #454547;
  	color: #ffffff;
  	box-shadow: 1px 5px 10px -6px black;
  	transition: all 0.2s ease;
}

.right li a:hover{
	@extend %hover;
} 

.menu li{

	a:hover{
		@extend %hover;
	}

	ul {
  		position: absolute;
  		min-width: 155px;
  		display: none;
  		max-width: 100
	}

	> ul li {
 		border: 1px solid $border-color;

 		a{
  			padding: 8px;
  			text-transform: none;
  			background: #454545;
		}

		ul {
  			position: absolute;
  			right: -155px;
  			top: 0;
		}
	}

	:hover > ul{
		display: block;
	}
}

/**/

#wrapper, #articles, article {
  	float: left;
}

#wrapper {
 	width: 100%;
	margin-top: 70px;

  	#articles {
  		width: 80%;
  		margin-left: 2%;
		
		article {
  			width: 31.33%;
  			height: 130%;
  			border: 1px solid silver;
  			box-sizing: border-box;
  			border-radius: 5px;
  			background-color: #F4A460;
  			margin-right: 2%;
  			min-height:750px;

  			img{
  				max-width: 100%;
  				max-height: 100%;
  				height: auto;
  				border-radius: 5px 5px 0px 0px;
  				border-bottom: 1px solid silver;
  				margin-bottom: 10px;
			}
  		}
  	}
}

.art {
	width: 90%;
	margin-left: 5%;
	padding-bottom: 5px;
	padding-right: 2px;
  	padding-left: 3px;
  	font-weight: bold;
  	font-size: 24px;
  	color: #4a4a4a;
  	text-indent: 8px;
}

.text-art {
  	width: 90%;
  	margin-left: 5%;
  	text-indent: 5px;
}

.more {
  	padding: 5px 5px;
  	background-color: $bachground-color-2;
  	margin-left: 5%;
  	border-radius: 5px; 
  	float: left;
  	margin-top: 10px;
  	line-height: 20px;
  	text-align: center;

  	:hover {background-color: $bachground-color-2;}

	:active {background-color:$bachground-color-2;}
}

 li > a{
 	:after { content:  '+'; }
    :only-child:after { content: ''; }
}

/*Animation*/

.ticker{
	animation-name: test-1;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	font-size: 20px;
	font-weight: bosld;
}

@keyframes  test-1{
	from{margin-left: 4px;}
	to{margin-left: 750px;}
}

#met {
	float: right;
  	max-width: 100%;
  	margin-top: 70px;
  	margin-right: 2%;
  	border: 1px solid silver;
  	box-sizing: border-box;
  	border-radius: 5px;
  	background-color: #F4A460;
  	margin-right: 2%;
  	min-height: 500px;
}

.metka {
  	padding: 5px 5px;
  	background-color:red;
  	margin-left: 5%;
  	border-radius: 5px; 
  	float: left;
  	margin-top: 10px;
  	line-height: 20px;
  	text-align: center;
 	
 	:hover {
  		background-color: red;
	}
	:active {background-color:$bachground-color-2;}
}

.col-footer-3{
    margin-left: 95%;
    margin-right: 1%;
    position: fixed;
    right: 1;
    width: 200px;
    top: 170px;
 	a{
  		color: #999; 
  		border: 1px 
  		solid #999;
  		padding: 5px 10px;
  		line-height: 2.2;font-size: 14px;
  		text-transform: capitalize;
 		
 		:hover{color:#01BAFD;}
 	}
}