 /*Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$lt: #E64A19;
$crfl: #8b9ff5;
$col: #4c4c4c;
$kek: #CD853F;


* {
	margin: 0;
	padding: 0;
	outline: none;
}

html { height: 100%; }

body {
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
}

header {
	padding: 1%;
	max-width:100%;
	height: 1%;
	background-color: $lt;
	min_height: 50px;
	border-bottom: 2px solid silver;
}

header {
  margin-top: 10px;
}

.main {
  min-height: 94%;
  margin-bottom: -10px;
}


a {
  color: $crfl;
  transition: all.5s ease;
  text-decoration: none;
  -moz-text-decoration: none;
  -webkit-text-decoration: none;
  -ms-text-decoration: none;
  }

@mixin transition($time){
  transition:         all $time ease;
  -webkit-transition: all $time ease;
  -moz-transition:    all $time ease;
  -o-transition:      all $time ease;
  
  }

  a:hover {
  color: $crfl;
  text-decoration: none;
  @include transition(.5s);
}

a:active {color: $crfl;}

.right, .menu {
  padding-right: 20px;
  padding-top: 10px;

}


.right {
  float: right;
}

.menu {
  float: left;
}


%mn {
	list-style: none;
	display: flex;
  	justify-content: center;
}

.menu ul {
	@extend %mn;
}

.right ul{
	@extend %mn;
}

nav ul ul ul {
  position: absolute;
  top:0;
  left:100%;
}

%ula {
  display: flex;
  background: $lt;
  padding: 8px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu > ul li a {
	@extend %ula;
}

.right > ul li a {
	@extend %ula;
}

.menu ul li {
  position: relative;
  border-right: 1px solid $col;
}

.menu > ul li:first-child {
  border-left: 1px solid $col;
}

.menu > ul li:last-child {
  border-right: 1px solid $col;
}

.right ul li {
  position: relative;
  border-right: 1px solid $col;
}

.right > ul li:first-child {
  border-left: 1px solid $col;
}
.right > ul li:last-child {
  border-right: 1px solid $col;
}


%lia {
  background: #454547;
  color: #ffffff;
  box-shadow: 1px 5px 10px -6px black;
  transition: all 0.2s ease;
}

menu li a:hover {
	@extend %lia;
}

.right li a:hover {
	@extend %lia;
}

.menu li ul {
  position: absolute;
  min-width: 155px;
  display: none;
  max-width: 100
}

.menu li > ul li {
  border: 1px solid $col;
}

.menu li > ul li a{
  padding: 8px;
  text-transform: none;
  background: #454545;
}

.menu li > ul li ul {
  position: absolute;
  right: -155px;
  top: 0;
}

.menu li:hover > ul{
  display: block;
}

/**/

 #wrapper, #articles, article {
  float: left;
}

#wrapper {
  width: 100%;
  margin-top: 70px;
}

#wrapper #articles {
  width: 80%;
  margin-left: 2%;
}


#wrapper #articles article {
  width: 31.33%;
  height: 130%;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F4A460;
  margin-right: 2%;
  min-height:750px;

}


#wrapper #articles article img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}

.art {
  width: 90%;
  margin-left: 5%;
  padding-bottom: 5px;
  padding-right: 2px;
  padding-left: 3px;
  font-weight: bold;
  font-size: 24px;
  color: #4a4a4a;
  text-indent: 8px;
}

.text-art {
  width: 90%;
  margin-left: 5%;
  text-indent: 5px;
}

.more {
  padding: 5px 5px;
  background-color: $kek;
  margin-left: 5%;
  border-radius: 5px; 
  float: left;
  margin-top: 10px;
  line-height: 20px;
  text-align: center;
}

.more:hover {
  background-color: $kek;
}

.more:active {background-color:$kek;}

      li > a:after { content:  ' +'; }
    li > a:only-child:after { content: ''; }

/*Animation*/

.ticker{
animation-name: test-1;
animation-duration: 12s;
animation-iteration-count: infinite;
font-size: 20px;
font-weight: bold;
}
@keyframes  test-1{
from{margin-left: 4px;}
to{margin-left: 750px;}
}

#met {
  float: right;
}

#met {
  max-width: 100%;
  margin-top: 70px;
}

#met {
  max-width: 100%;
  margin-right: 2%;
}

 #met  {
  max-width: 100%;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F4A460;
  margin-right: 2%;
  min-height: 500px;
}


.metka {
  padding: 5px 5px;
  background-color:red;
  margin-left: 5%;
  border-radius: 5px; 
  float: left;
  margin-top: 10px;
  line-height: 20px;
  text-align: center;
}

.metka:hover {
  background-color: red;
}

.metka:active {background-color:$kek;}

 .col-footer-3{
    margin-left: 95%;
    margin-right: 1%;
    position: fixed;
    right: 1;
    width: 200px;
    top: 170px;
 }
 .col-footer-3 a{
  color: #999; 
  border: 1px 
  solid #999;
  padding: 5px 10px;
  line-height: 2.2;font-size: 14px;
  text-transform: capitalize;
 }
 .col-footer-3 a:hover{color:#01BAFD;}