/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Program Files/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 21, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 23, ../sass/screen.scss */
body {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  font-family: "Segoe UI", sans-serif;
  line-height: 135%;
}

/* line 31, ../sass/screen.scss */
header {
  padding: 1%;
  max-width: 100%;
  height: 1%;
  background-color: #E64A19;
  min-height: 50px;
  border-bottom: 2px solid silver;
  margin-top: 10px;
}

/* line 41, ../sass/screen.scss */
.main {
  min-height: 94%;
  margin-bottom: -10px;
}
/* line 44, ../sass/screen.scss */
.main :after {
  content: "";
  display: inline-block;
  height: 10px;
}

/* line 67, ../sass/screen.scss */
a {
  color: #8b9ff5;
  transition: all 0.5s ease;
  text-decoration: none;
  -moz-text-decoration: none;
  -webkit-text-decoration: none;
  -ms-text-decoration: none;
}
/* line 73, ../sass/screen.scss */
a:hover {
  color: #8b9ff5;
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
/* line 79, ../sass/screen.scss */
a:active {
  color: #8b9ff5;
}

/* line 83, ../sass/screen.scss */
.right, .menu {
  padding-right: 20px;
  padding-top: 10px;
}

/* line 88, ../sass/screen.scss */
.right {
  float: right;
}

/* line 93, ../sass/screen.scss */
.menu {
  float: left;
}

/* line 98, ../sass/screen.scss */
.menu ul, .right ul {
  list-style: none;
}

/* line 102, ../sass/screen.scss */
.menu > ul, .right > ul {
  display: flex;
  justify-content: center;
}

/* line 107, ../sass/screen.scss */
nav ul ul ul {
  position: absolute;
  top: 0;
  left: 100%;
}

/* line 113, ../sass/screen.scss */
.menu > ul li a, .right > ul li a {
  display: flex;
  background: #E64A19;
  padding: 8px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* line 124, ../sass/screen.scss */
.menu ul li {
  position: relative;
  border-right: 1px solid #4c4c4c;
}

/* line 130, ../sass/screen.scss */
.menu > ul li:first-child {
  border-left: 1px solid #4c4c4c;
}
/* line 133, ../sass/screen.scss */
.menu > ul li:last-child {
  border-right: 1px solid #4c4c4c;
}

/* line 138, ../sass/screen.scss */
.right ul li {
  position: relative;
  border-right: 1px solid #4c4c4c;
}

/* line 144, ../sass/screen.scss */
.right > ul li:first-child {
  border-left: 1px solid #4c4c4c;
}
/* line 147, ../sass/screen.scss */
.right > ul li:last-child {
  border-right: 1px solid #4c4c4c;
}

/* line 152, ../sass/screen.scss */
.right li a:hover, .menu li a:hover {
  background: #454547;
  color: #ffffff;
  box-shadow: 1px 5px 10px -6px black;
  transition: all 0.2s ease;
}

/* line 169, ../sass/screen.scss */
.menu li ul {
  position: absolute;
  min-width: 155px;
  display: none;
  max-width: 100;
}
/* line 176, ../sass/screen.scss */
.menu li > ul li {
  border: 1px solid #4c4c4c;
}
/* line 179, ../sass/screen.scss */
.menu li > ul li a {
  padding: 8px;
  text-transform: none;
  background: #454545;
}
/* line 185, ../sass/screen.scss */
.menu li > ul li ul {
  position: absolute;
  right: -155px;
  top: 0;
}
/* line 192, ../sass/screen.scss */
.menu li :hover > ul {
  display: block;
}

/**/
/* line 199, ../sass/screen.scss */
#wrapper, #articles, article {
  float: left;
}

/* line 203, ../sass/screen.scss */
#wrapper {
  width: 100%;
  margin-top: 70px;
}
/* line 207, ../sass/screen.scss */
#wrapper #articles {
  width: 80%;
  margin-left: 2%;
}
/* line 211, ../sass/screen.scss */
#wrapper #articles article {
  width: 31.33%;
  height: 130%;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F4A460;
  margin-right: 2%;
  min-height: 750px;
}
/* line 221, ../sass/screen.scss */
#wrapper #articles article img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}

/* line 233, ../sass/screen.scss */
.art {
  width: 90%;
  margin-left: 5%;
  padding-bottom: 5px;
  padding-right: 2px;
  padding-left: 3px;
  font-weight: bold;
  font-size: 24px;
  color: #4a4a4a;
  text-indent: 8px;
}

/* line 245, ../sass/screen.scss */
.text-art {
  width: 90%;
  margin-left: 5%;
  text-indent: 5px;
}

/* line 251, ../sass/screen.scss */
.more {
  padding: 5px 5px;
  background-color: #CD853F;
  margin-left: 5%;
  border-radius: 5px;
  float: left;
  margin-top: 10px;
  line-height: 20px;
  text-align: center;
}
/* line 261, ../sass/screen.scss */
.more :hover {
  background-color: #CD853F;
}
/* line 263, ../sass/screen.scss */
.more :active {
  background-color: #CD853F;
}

/* line 267, ../sass/screen.scss */
li > a :after {
  content: '+';
}
/* line 268, ../sass/screen.scss */
li > a :only-child:after {
  content: '';
}

/*Animation*/
/* line 273, ../sass/screen.scss */
.ticker {
  animation-name: test-1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  font-size: 20px;
  font-weight: bosld;
}

@keyframes test-1 {
  from {
    margin-left: 4px;
  }
  to {
    margin-left: 750px;
  }
}
/* line 286, ../sass/screen.scss */
#met {
  float: right;
  max-width: 100%;
  margin-top: 70px;
  margin-right: 2%;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F4A460;
  margin-right: 2%;
  min-height: 500px;
}

/* line 299, ../sass/screen.scss */
.metka {
  padding: 5px 5px;
  background-color: red;
  margin-left: 5%;
  border-radius: 5px;
  float: left;
  margin-top: 10px;
  line-height: 20px;
  text-align: center;
}
/* line 309, ../sass/screen.scss */
.metka :hover {
  background-color: red;
}
/* line 312, ../sass/screen.scss */
.metka :active {
  background-color: #CD853F;
}

/* line 315, ../sass/screen.scss */
.col-footer-3 {
  margin-left: 95%;
  margin-right: 1%;
  position: fixed;
  right: 1;
  width: 200px;
  top: 170px;
}
/* line 322, ../sass/screen.scss */
.col-footer-3 a {
  color: #999;
  border: 1px  solid #999;
  padding: 5px 10px;
  line-height: 2.2;
  font-size: 14px;
  text-transform: capitalize;
}
/* line 330, ../sass/screen.scss */
.col-footer-3 a :hover {
  color: #01BAFD;
}
